html {
  font-size: 18px;
}

.site-container {
  width: 960px;
  margin: auto;
}

                    /* top header */
.header {
  background-color: black;
  color: white;
}

.header img {
  height: 1.5rem;
  padding-left: 0.5rem;
}

.header span {
  display: inline-block;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}

                    /* banner */
.banner {
  background-image: url("../img/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 25rem;
}

.jumbotron {
  background-color: black;
  color: white;
  width: 20rem;
  position: relative;
  top: 9rem;
}


                     /* nav */
nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

                      /* content */
.content {
  display: flex;
}

                      /* footer */
footer {
  background-color: black;
  color: white;
  height: 5rem;
  text-align: left;
}
