html {
  font-size: 18px;
  font-family: Helvetica;
}

.site-container {
  width: 960px;
  margin: auto;
}

.black-background {
  background-color: black;
  color: white;
}

                    /* top header */

.inner-header {
  display: flex;
  align-items: center;
}

.header img {
  height: 1.5rem;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.header span {
  display: inline-block;
  padding: 0.66rem 0 0.66rem 1rem;
}



                    /* banner */
.banner {
  background-image: url("../img/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 25rem;
}

.jumbotron {
  background-color: black;
  color: white;
  width: 26rem;
  position: relative;
  top: 9rem;
  font-weight: bold;
}

.jumbotron span {
  display: inline-block;
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.jumbotron h1 {
  font-size: 2rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
  line-height: 40px;
}


                     /* nav */
.main-nav {
  background-color: firebrick;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.alt-nav {
  display: none;
  background-color: firebrick;
}

.alt-nav ul {
  display: none;
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.alt-nav a {
  display: none;
  color: white;
  text-decoration: none;
}
                      /* content */
.content {
  display: flex;
}

.alt-content, .alt-content2 {
  display: none;
}

.columns-container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
}

.column2 {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-container2 {
  height: 9rem;
  width: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.span2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  width: 100%
}

.glasses {
  padding-top: 2rem;
}

.items {
  max-width: 100%;
  max-height: 100%;
}


.location-hours {
  display: flex; justify-content: space-between;
}

.location, .hours {
  display: inline-flex;
  flex-direction: column;
  width: 35%;
  margin-top:  3rem;
}

.location span, .hours span {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.digits {
  margin-bottom: 3rem;
}

                      /* footer */
footer {
  background-color: black;
  color: white;
  height: 10rem;
  text-align: left;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .main-nav ul a {
    display: none;
  }

  .main-nav ul {
    display: none;
  }

  .main-nav a {
    color: white;
    text-decoration: none;
  }

  .alt-nav {
    display: block;
  }

  .alt-nav ul {
    display: flex;
    justify-content: center;
  }

  .alt-nav a {
    display: inline-block;

    color: white;
    text-decoration: none;
  }

  .content {
    display: none;
  }

  .alt-content {
    display: flex;
  }

  .column2 {
    width: 47%;
  }

  footer div {
    text-align: center;
  }

}

@media only screen and (max-width: 470px) {

  .banner {
    height: 15rem;
  }

  .jumbotron {

    top: 10rem;
  }

  .inner-header {
  }

  .jumbotron span {
    display: inline-block;
    font-size: 0.77rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }

  .jumbotron h1 {
    font-size: 1rem;
    padding-left: 2rem;
    padding-bottom: 0.10rem;
    padding-top: 0.25rem;
    line-height: 40px;
  }

                /* container */

  .container-mobile-size-screen {
    justify-content: center;
  }

  .watch {
    display: none;
  }

  .pen-mobile-size-screen {
    width: 90%;
  }

  .location-hours {
    flex-direction: column;

  }

  .site-container {
    width: 470px;
  }

  .location, .hours {
    justify-content: center;
    width: 85%;
    padding-left: 1rem;
  }

  .location span, .hours span {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hours {
    margin-top: 0.5rem;
  }

  .digits {
    margin-bottom: 0;
  }

  footer {
    margin-top: 3rem;
  }

}
